body
{
    background-color: whitesmoke;
    padding: 2px;
}
.common_section
{
    /* padding: 5px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    
}
#common_sect1
{
    font-size: small;
    border-style: solid;
    border-color: whitesmoke;
    border-width: .5px; 
    background-color: black;
    color: aliceblue;
    padding-top:10px;
    padding-bottom:10px;
}
select ,option{
    border: 1.5px;
    border-radius: 5px;
    padding: 10px;

}
select > option:hover{
    color: black;
}
select option {
    background-color: white;
    font-family: sans-serif;
    color: black;
    padding: 10px;
    overflow: scroll;
}
select:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
header > section 
{
    display: inline-block !important;
    background-color: black;
    width:95vw;
    font-family: sans-serif;
}
label{
    padding: 10px;
}

form
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
}
textarea
{
    background-color: black;
    color: greenyellow;
    resize: none; 
}
#ide
{
    width: 95vw;
    height: 70vh;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer{
  display: inline;
  background-color: black;
  color: aliceblue;
  text-align: center;
}
ul
{
    list-style: none;
}
li{
    padding: 3px; 
}
table
{
    border: 2px solid red;
    border-collapse: collapse;
    width: 95vw;
    font-family: sans-serif;
    background-color: black;
    color: greenyellow;
}
th ,td
 {
    padding: 5px;
    border: 1px solid greenyellow;
    border-collapse: collapse;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   margin: 3px;
  }
  
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #output ul
  {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
header{
    background-color:black;
    /* color: white;s */
}
  #header_id
  {
    text-align: center;
    color: red;
  }